/* Hi! I know very little about CSS, so many StackOverflow searches were made. Visit the links in these comments to follow my educational journey! */

@font-face {
    font-family: OpenSans;
    src: format('truetype') url('open-sans.ttf');
}

@font-face {
    font-family: LucidaConsole;
    src: format('truetype') url('lucon.ttf');
} /* Font embedding http://stackoverflow.com/q/11737168/2825369 */

html {
    height: 100%;
}

body {
    font-family: OpenSans, 'Segoe UI', Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Background gradient fix http://stackoverflow.com/q/2869212/2825369 */
}

table {
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
} /* Horizontally centering table http://stackoverflow.com/q/301147/2825369 */
  /* Adding space between cells http://stackoverflow.com/q/16419174/2825369 */

td {
    text-align: left;
    vertical-align: text-top;
}

th {
    margin-top: 1em;
    font-weight: bold;
    text-align: left;
}

th.filename {
    text-align: right;
}

a {
    text-decoration: none;
}

a.button {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

td.monocell a {
    margin-left: 1em;
}

.center-outer {
    display: table;
    position: absolute;
    height: 95%;
    width: 95%;
}

.center-middle {
    display: table-cell;
    vertical-align: middle;
}

.center-inner {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
} /* Vertical centering http://stackoverflow.com/q/396145/2825369 */

.maintitle {
    font-size: 10em;
    text-align: center;
    margin-top: -0.2em;
} /* Proportional fonts http://stackoverflow.com/q/16385559/2825369 */

.subtitle {
    font-family: LucidaConsole, 'Lucida Console', 'Courier New', monospace;
    font-size: 4em;
    text-align: right;
    font-weight: lighter;
    line-height: 0px;
} /* Whitespace reduction http://stackoverflow.com/q/18508442/2825369 */ 

.startpage {
    background-color: lightgray;
    background-image: linear-gradient(to bottom, cyan, rgb(240, 240, 240) 10%, rgb(240, 240, 240) 90%, cyan);
}

.infopage {
    background-color: lightgray;
    background-image: linear-gradient(to bottom, cyan, rgb(240, 240, 240) 10%, rgb(240, 240, 240));
}

.infopad {
    margin-top: 4em;
}

.startinfo {
    margin-top: 2em;
    font-size: 1em;
    text-align: center;
    text-justify: auto;
}

.monocell {
    font-family: LucidaConsole, 'Lucida Console', 'Courier New', monospace;
    text-align: right;
    padding-left: 0.5em;
}

.editBar {
    margin-top: 7em;
    margin-right: 3em;
    text-align: right;
    vertical-align: bottom;
    width: 100%;
}